<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Picture View</title>
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <%- include('../pages/nav'); %>
    <style>
      body {
        align-items: center;
        justify-content: center;
        margin: 0;
        min-height: 100vh;
        background: linear-gradient(#fff 0%, #77a5f8 100%);
      }
      .jumbotron {
        width: 100vh;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        opacity: 0.7;
        border-radius: 0.7rem;
        margin-top: 1rem;
        transition: ease-out 0.3s;
        border: 1px solid #77a5f8;
      }
      .jumbotron:hover {
        opacity: 0.9;
        transition: ease-in-out 0.3s;
      }
      img {
        max-width: 100%;
        height: auto;
      }
    </style>
  </head>
  <body>
    <h3 class="text-center p-5">
      <a href="../"
        ><img
          src="../assets/images/back-arrow.png"
          width="30"
          height="30"
          class="d-inline-block"
          alt=""
      /></a>
      Image ID:<%= ListImages.id %>
    </h3>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 offset-3 float-md-center">
      <div class="jumbotron text-center slide-in" id="slider">
        <h3><%= ListImages.imageInput %></h3>
        <div class="d-flex justify-content-around pad-sm">
          <div class="beforeimage">
            <img class="rounded mx-auto d-block" src="../images_input/<%= ListImages.imageInput %>" alt="" />
            <h4>Image before remover background</h4>
          </div>
          <div class="afterimage">
            <img class="rounded mx-auto d-block" src="../images_output/<%= ListImages.imageOutput %>" alt="" />
            <h4>Image after before remover background</h4>
          </div>
        </div>
    </div>
    </div>
  </body>
</html>
